


<ul class="nav nav-pills mb-3" style="margin-top: 5%;" id="pills-tab" role="tablist">
	<li class="nav-item" role="presentation">
		<button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-profile" onclick="GetProfileView()" aria-selected="true"><span>Профіль</span></button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-result" aria-selected="false"><span>Результати тестування</span></button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-account-create" onclick="GetRegisterView();" aria-selected="false"><span>Створення акаунтів</span></button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-workers" onclick="GetUsersListView()"><span>Список працівників</span></button>
	</li>
</ul>
<div class="tab-content" id="pills-tabContent" style="margin-top: 4%">
	<div class="tab-pane fade show active profile" id="pills-profile">
		@*<partial name="_UserProfilePartialView" />*@
	</div>
	<div class="tab-pane fade" id="pills-result">..</div>
	<div class="tab-pane fade account-create" id="pills-account-create">
		@*<partial name="_CreateUserPartialView"/>*@
	</div>
	<div class="tab-pane fade" id="pills-workers">
		<div class="d-flex flex-row justify-content-center align-items-center" style="margin-top: 25px">
			<div class="d-flex flex-row justify-content-center align-items-center" style="width: 660px; height: 40px; border-radius: 5px;border: 2px solid var(--main-light, #FFF);">
				<input class="search_input" placeholder="Введіть ПІБ працівника" style="width: 100%; margin: 10px; border: none; background: transparent; color: #fff" />
				<a class="orange_icon" style=" margin: 10px;" onclick="GetUsersListByName()"><i class="bi bi-search"></i></a>
			</div>
		</div>
		<div class="workers">
			@*<partial name="_UserListPartialView"/>*@
		</div>
		
	</div>
</div>
<script>
	window.addEventListener('load', function () {
		GetProfileView();
	});
</script>
<script>

	function GetProfileView() {
		$.ajax({
			url: "@Url.Action("Profile", "User")",
			type: "GET",
			success: function (data) {
				$(".profile").html(data);

			}
		});
	}

	function AccountUpdate() {
		var formData = {
			User_ID: $("#User_ID").val(),
			Surname: $("#Surname").val(),
			Name: $("#Name").val(),
			Patronymic: $("#Patronymic").val(),
			Position_ID: $("#Position_ID").val(),
			Rang_ID: $("#Rang_ID").val(),
			Department_ID: $("#Department_ID").val(),
			Rang_ID: $("#Rang_ID").val(),
			Role_ID: $("#Role_ID").val(),
			Login: $("#Login").val(),
			Password: $("#Password").val(),
			PasswordConfirm: $("#PasswordConfirm").val()
		};

		$.ajax({
			url: "@Url.Action("Profile", "User")",
			type: "POST",
			data: {
				user: formData
			},
			success: function (data) {
				GetProfileView();
				var toastText = "Пароль оновлено";
				$("#s_toastText").text(toastText);
				var Toast = new bootstrap.Toast(document.getElementById('successToast'));
				Toast.show();
			},
			error: function (xhr) {
				$("span.text-danger").text("");
				$("input").removeClass("error");

				var errors = xhr.responseJSON;
				if (errors) {
					$.each(errors, function (key, value) {
						errorElement = $("[name='" + key.replace('user.', '') + "']").siblings("span.text-danger");
						errorElement.text(value);
					});
				}
			}
		});

	}

	function GetRegisterView() {
		$.ajax({
			url: "@Url.Action("Register", "Account")",
			type: "GET",
			success: function (data) {
				$(".account-create").html(data);

				var selectElement = document.getElementById("region");
				if (selectElement) {
					var event = new Event("change", {
						bubbles: true,
						cancelable: true,
					});
					selectElement.dispatchEvent(event);
				}

				var selectElement = document.getElementById("Position_ID_VM");
				if (selectElement) {
					var event = new Event("change", {
						bubbles: true,
						cancelable: true,
					});
					selectElement.dispatchEvent(event);
				}
			}
		});
	}





	function FillDepartmentOption(selectElement) {
		var region = selectElement.value;

		$.ajax({
			url: "@Url.Action("FillDepartmentOption", "Account")",
			type: "GET",
			data: {
				region_ID: region
			},
			success: function (data) {
				var selectElement = document.getElementById("Department_ID_VM");
				selectElement.innerHTML = "";
				for (var i = 0; i < data.length; i++) {

					var option = document.createElement("option");
					option.value = data[i].value;
					option.text = data[i].text;
					selectElement.appendChild(option);

				}



			}
		});
	}

	function RegisterUser() {
		var formData = {
			Snp: $("#Snp").val(),
			Position_ID_VM: $("#Position_ID_VM").val(),
			Rang_ID_VM: $("#Rang_ID_VM").val(),
			Department_ID_VM: $("#Department_ID_VM").val(),
			Role_ID_VM: $("#Role_ID_VM").val(),
			Login_VM: $("#Login_VM").val(),
			Password_VM: $("#Password_VM").val(),
		};

		$.ajax({
			url: "@Url.Action("Register", "Account")",
			type: "POST",
			data: {
				model: formData
			},
			success: function (data) {
				GetRegisterView();

				var toastText = "Користувач успішно створений";
				$("#s_toastText").text(toastText);
				var Toast = new bootstrap.Toast(document.getElementById('successToast'));
				Toast.show();
			},
			error: function (xhr) {
				$("span.text-danger").text("");
				$("input").removeClass("error");

				var errors = xhr.responseJSON;
				if (errors) {
					$.each(errors, function (key, value) {

						if(key !== ""){
							errorElement = $("[name='" + key.replace('model.', '') + "']").siblings("span.text-danger");
							errorElement.text(value);
						}
						$("#e_toastText").text(value);
						var errorToast = new bootstrap.Toast(document.getElementById('errorToast'));
						errorToast.show();
						
					});
				}
			}
		});

	}

	function GetUsersListView() {
		$.ajax({
			url: "@Url.Action("GetUsersList", "User")",
			type: "GET",
			success: function (data) {
				$(".workers").html(data);

			}
		});
	}

	function GetUsersListByName() {
		var inputElement = document.querySelector('.search_input');
		var enteredValue = inputElement.value;
		$.ajax({
			url: "@Url.Action("GetUsersListByName", "User")",
			type: "GET",
			data: {
				pib: enteredValue
			},
			success: function (data) {
				$(".workers").html(data);
				inputElement.value = "";

			},
			error: function (xhr) {
				$("#e_toastText").text(xhr.responseText);
				var Toast = new bootstrap.Toast(document.getElementById('errorToast'));
				Toast.show();
			}
		});
	}
</script>

<style>

	.profile_title {
		width: 250px;
		margin-right: 164px;
	}

		.profile_title span {
			font-size: 20px;
			font-weight: 700;
		}

	.profile_image {
		margin-right: 60px;
		background: rgba(3, 24, 62, 0.5);
		border-radius: 5px;
	}

	.profile_name span {
		margin-bottom: 5px;
	}

	.profile_address {
		margin-top: 5px;
	}

	.nav-item:first-child .nav-link {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.nav-item:last-child .nav-link {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.nav-pills .nav-link {
		height: 40px;
		border-radius: 0;
		background: rgba(3, 24, 62, 0.5);
		color: #fff;
	}


		.nav-pills .nav-link:hover {
			background: var(--main-dark, #03183E);
		}

		.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
			background: var(--main-dark, #03183E);
		}

	.search_input:focus-visible{
		outline: none;
	}

	.search_input::placeholder {
		color: #fff; 
	}

</style>