


<ul class="nav nav-pills mb-3" style="margin-top: 5%;" id="pills-tab" role="tablist">
	<li class="nav-item" role="presentation">
		<button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-profile" onclick="GetProfileView()" aria-selected="true"><span>Профіль</span></button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-result" onclick="GetResult()" @*onclick="GetHistory()"*@ aria-selected="false"><span>Результати тестування</span></button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-account-create" onclick="GetRegisterView();" aria-selected="false"><span>Створення акаунтів</span></button>
	</li>
	<li class="nav-item" role="presentation">
		<button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-workers" onclick="GetUsersListView()"><span>Список працівників</span></button>
	</li>
</ul>
<div class="tab-content" id="pills-tabContent" style="margin-top: 4%">
	<div class="tab-pane fade show active profile" id="pills-profile">
		@*<partial name="_UserProfilePartialView" />*@
	</div>
	<div class="tab-pane fade result" id="pills-result">

		<div class="d-flex flex-column">
			<span style="font-weight: 700; margin-bottom: 20px">Оберіть для якої посади необхідно сформувати список результатів:</span>
			<div class="d-flex flex-row justify-content-between" style="margin-bottom: 20px">
				<div class="form-check filter-checkbox">
					<input id="Водій автодрабини" class="form-check-input filter-result-checkbox" type="checkbox">
					<label class="form-check-label">
						Водій автодрабини
					</label>
				</div>
				<div class="form-check filter-checkbox">
					<input id="Командир відділення" class="form-check-input filter-result-checkbox" type="checkbox">
					<label class="form-check-label">
						Командир відділення
					</label>
				</div>
				<div class="form-check filter-checkbox">
					<input id="Радіотелефоніст" class="form-check-input filter-result-checkbox" type="checkbox">
					<label class="form-check-label">
						Радіотелефоніст
					</label>
				</div>
				<div class="form-check filter-checkbox">
					<input id="Пожежний-рятувальник" class="form-check-input filter-result-checkbox" type="checkbox">
					<label class="form-check-label">
						Пожежний-рятувальник
					</label>
				</div>
			</div>

			<div class="d-flex flex-row align-items-center" style="width: 100%;">
				<span style="margin-right: 40px;">Оберіть дату, за якою необхідно сформувати список для завірення підписом і печаткою:</span>
				<div style="width: 250px">
					<input class="filter_date" type="date" id="start" name="trip-start" max="2024-12-31" style="width: 100%" lang="en" translate="no" />
				</div>
			</div>

			<div class="result_view" style="margin-top: 70px; width: 100%">
			</div>

			<div class="d-flex flex-row align-items-center justify-content-center" style="margin-top: 50px">
				<a onclick="GetPDF()"  class="main_button" style="width: 300px; height: 40px"><span>Завантажити</span></a>
			</div>

		</div>


	</div>
	<div class="tab-pane fade account-create" id="pills-account-create">
		@*<partial name="_CreateUserPartialView"/>*@
	</div>
	<div class="tab-pane fade" id="pills-workers">
		<div class="d-flex flex-row justify-content-center align-items-center" style="margin-top: 25px">
			<div class="d-flex flex-row justify-content-center align-items-center" style="width: 660px; height: 40px; border-radius: 5px;border: 2px solid var(--main-light, #FFF);">
				<input class="search_input" placeholder="Введіть ПІБ працівника" style="width: 100%; margin: 10px; border: none; background: transparent; color: #fff" />
				<a class="orange_icon" style=" margin: 10px;" onclick="GetUsersListByName()"><i class="bi bi-search"></i></a>
			</div>
		</div>
		<div class="workers">
			@*<partial name="_UserListPartialView"/>*@
		</div>

	</div>
</div>

<div class="modal_page">
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal_card d-flex flex-column justify-content-between">
				<span style="font-weight: 700; padding: 10px 0">Видалення акаунту працівника</span>
				<span style="padding: 40px 0">Ви точно хочете видалити акаунт? Після виконання цієї дії акаунт даного працівника неможливо буде відновити!</span>
				<a class="main_button main_button_light" onclick="ConfirmUserDelete()" style="width: 100%; height: 40px"><span>Видалити</span></a>
			</div>
		</div>
	</div>
</div>


<script>
	window.addEventListener('load', function () {
		GetProfileView();
	});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

	function GetProfileView() {
		$.ajax({
			url: "@Url.Action("Profile", "User")",
			type: "GET",
			success: function (data) {
				$(".profile").html(data);

			}
		});
	}

	function AccountUpdate() {
		var formData = {
			User_ID: $("#User_ID").val(),
			Surname: $("#Surname").val(),
			Name: $("#Name").val(),
			Patronymic: $("#Patronymic").val(),
			Position_ID: $("#Position_ID").val(),
			Rang_ID: $("#Rang_ID").val(),
			Department_ID: $("#Department_ID").val(),
			Rang_ID: $("#Rang_ID").val(),
			Role_ID: $("#Role_ID").val(),
			Login: $("#Login").val(),
			Password: $("#Password").val(),
			PasswordConfirm: $("#PasswordConfirm").val()
		};

		$.ajax({
			url: "@Url.Action("Profile", "User")",
			type: "POST",
			data: {
				user: formData
			},
			success: function (data) {
				GetProfileView();

				SuccesToastShow("Пароль оновлено");
			},
			error: function (xhr) {
				$("span.text-danger").text("");
				$("input").removeClass("error");

				var errors = xhr.responseJSON;
				if (errors) {
					$.each(errors, function (key, value) {
						errorElement = $("[name='" + key.replace('user.', '') + "']").siblings("span.text-danger");
						errorElement.text(value);
					});
				}
			}
		});

	}

	function GetRegisterView() {
		$.ajax({
			url: "@Url.Action("Register", "Account")",
			type: "GET",
			success: function (data) {
				$(".account-create").html(data);
				$(".workers").empty();
				var selectElement = document.getElementById("region");
				if (selectElement) {
					var event = new Event("change", {
						bubbles: true,
						cancelable: true,
					});
					selectElement.dispatchEvent(event);
				}

				var selectElement = document.getElementById("Position_ID_VM");
				if (selectElement) {
					var event = new Event("change", {
						bubbles: true,
						cancelable: true,
					});
					selectElement.dispatchEvent(event);
				}
			}
		});
	}





	function FillDepartmentOption(selectElement) {
		var region = selectElement.value;

		$.ajax({
			url: "@Url.Action("FillDepartmentOption", "Account")",
			type: "GET",
			data: {
				region_ID: region
			},
			success: function (data) {
				var selectElement = document.getElementById("Department_ID_VM");
				selectElement.innerHTML = "";
				for (var i = 0; i < data.length; i++) {

					var option = document.createElement("option");
					option.value = data[i].value;
					option.text = data[i].text;
					selectElement.appendChild(option);

				}



			}
		});
	}

	function RegisterUser() {
		var formData = {
			Snp: $("#Snp").val(),
			Position_ID_VM: $("#Position_ID_VM").val(),
			Rang_ID_VM: $("#Rang_ID_VM").val(),
			Department_ID_VM: $("#Department_ID_VM").val(),
			Role_ID_VM: $("#Role_ID_VM").val(),
			Login_VM: $("#Login_VM").val(),
			Password_VM: $("#Password_VM").val(),
		};

		$.ajax({
			url: "@Url.Action("Register", "Account")",
			type: "POST",
			data: {
				model: formData
			},
			success: function (data) {
				GetRegisterView();

				SuccesToastShow("Користувач успішно створений");
			},
			error: function (xhr) {
				$("span.text-danger").text("");
				$("input").removeClass("error");

				var errors = xhr.responseJSON;
				if (errors) {
					$.each(errors, function (key, value) {

						if (key !== "") {
							errorElement = $("[name='" + key.replace('model.', '') + "']").siblings("span.text-danger");
							errorElement.text(value);
						}
						else {
							ErrorToastShow(value);
						}


					});
				}
			}
		});

	}

	function GetUsersListView() {
		$.ajax({
			url: "@Url.Action("GetUsersList", "User")",
			type: "GET",
			success: function (data) {
				$(".workers").html(data);
				$(".account-create").empty();

			}
		});
	}

	function GetUsersListByName() {
		var inputElement = document.querySelector('.search_input');
		var enteredValue = inputElement.value;
		$.ajax({
			url: "@Url.Action("GetUsersListByName", "User")",
			type: "GET",
			data: {
				pib: enteredValue
			},
			success: function (data) {
				$(".workers").html(data);
				$(".account-create").empty();
				inputElement.value = "";

			},
			error: function (xhr) {
				ErrorToastShow(xhr.responseText);
			}
		});
	}

	function ShowModal() {
		$('#editUserModal').modal('show');
	}

	function HideModal() {
		$('#editUserModal').modal('hide');
	}


	function GetUserEdit(user_Id) {
		$.ajax({
			url: "@Url.Action("Edit", "User")",
			type: "GET",
			data: {
				user_Id: user_Id
			},
			success: function (data) {

				$(".modal_page").html(data);
				ShowModal();

				var selectElement = document.getElementById("region");
				if (selectElement) {
					var event = new Event("change", {
						bubbles: true,
						cancelable: true,
					});
					selectElement.dispatchEvent(event);
				}

				var selectElement = document.getElementById("Position_ID_VM");
				if (selectElement) {
					var event = new Event("change", {
						bubbles: true,
						cancelable: true,
					});
					selectElement.dispatchEvent(event);
				}
			}
		});

	}


	function UserDelete(user_Id) {
		$('#deleteModal').modal('show');
		$('#deleteModal').data('user_ID', user_Id);
	}

	function ConfirmUserDelete() {
		var user_Id = $('#deleteModal').data('user_ID');
		$('#deleteModal').modal('hide');

		$.ajax({
			url: "@Url.Action("Delete", "User")",
			type: "POST",
			data: {
				user_Id: user_Id
			},
			success: function (data) {
				GetUsersListView();
				SuccesToastShow(data);

			},
			error: function (xhr) {

				ErrorToastShow(xhr.responseText);
			}
		});
	}


	function GetHistory() {
		$.ajax({
			url: "@Url.Action("TestHistory", "TestResult")",
			type: "GET",
			success: function (data) {
				$(".result").html(data);

			}
		});
	}

	function GetResult() {
		$.ajax({
			url: "@Url.Action("TestResult", "TestResult")",
			type: "GET",
			success: function (data) {
				$(".result_view").html(data);

			}
		});
	}

	$(".filter-result-checkbox").click(function () {
		FilterResult();
	});

	$(".filter_date").on("blur keypress", function (e) {
		// Проверяем, нажата ли клавиша Enter (код клавиши 13)
		if (e.type === "keypress" && e.which !== 13) {
			return;
		}
		FilterResult();
	});

	function FilterResult() {
		var selectedValues = [];

		// Получаем выбранные флажки
		$(".filter-result-checkbox:checked").each(function () {
			selectedValues.push($(this).attr("id"));
		});

		var formattedDate = $(".filter_date").val();
		// Разделяем дату на части по дефису
		if (formattedDate != "") {
			var parts = formattedDate.split("-");
			formattedDate = parts[2] + "." + parts[1] + "." + parts[0];
		}

		// Преобразуем выбранные значения в строку для передачи
		var filterValues = selectedValues.join(",");

		$.ajax({
			url: "@Url.Action("TestResultFiltered", "TestResult")",
			type: "GET",
			data: {
				positions: filterValues,
				date: formattedDate
			},
			success: function (data) {
				$(".result_view").html(data);

				SuccesToastShow("Пошукові фільтри застосовано");


			},
			error: function (xhr) {
				ErrorToastShow(xhr.responseText);
			}
		});
	}

	function GetPDF() {

		var PDFResult = [];

		$(".result-items > tr").each(function (index) {
			var result = {
				SNP: $(this).find("span[name='UserResultName']").text(),
				Position: $(this).find("span[name='UserResultPosition']").text(),
				Mark: $(this).find("span[name='UserResultMark']").text(),
				Status: $(this).find("span[name='UserResultStatus']").text()
			}

			PDFResult.push(result);
		});

		$.ajax({
			url: "@Url.Action("StudentsResultPdf", "TestResult")",
			type: "GET",
			data: { result: JSON.stringify(PDFResult) },
			success: function () {
				var pdfUrl = '@Url.Action("StudentsResultPdf", "TestResult")';
				pdfUrl += '?result=' + encodeURIComponent(JSON.stringify(PDFResult));
				window.open(pdfUrl, '_blank');

				SuccesToastShow("PDF згенеровано");
			},
			error: function (xhr) {
				ErrorToastShow(xhr.responseText);
			}
		});
	}
</script>

<style>

	.profile_title {
		width: 250px;
		margin-right: 164px;
	}

		.profile_title span {
			font-size: 20px;
			font-weight: 700;
		}

	.profile_image {
		margin-right: 60px;
		background: rgba(3, 24, 62, 0.5);
		border-radius: 5px;
	}

	.profile_name span {
		margin-bottom: 5px;
	}

	.profile_address {
		margin-top: 5px;
	}

	.nav-item:first-child .nav-link {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.nav-item:last-child .nav-link {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.nav-pills .nav-link {
		height: 40px;
		border-radius: 0;
		background: rgba(3, 24, 62, 0.5);
		color: #fff;
	}


		.nav-pills .nav-link:hover {
			background: var(--main-dark, #03183E);
		}

		.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
			background: var(--main-dark, #03183E);
		}

	.search_input:focus-visible {
		outline: none;
	}

	.search_input::placeholder {
		color: #fff;
	}

</style>