@model List<Question>

<form asp-controller="Test" id="questionForm" asp-action="QuestionCreate">
	<div class="d-flex flex-column" style="margin-bottom: 20px">

		<div class="mb-1" style="margin-top: 5%"><a class="link_button_nodecorate" onclick="GetCatalogFilterView()"><i class="bi bi-arrow-left "></i><span>Назад</span></a></div>

		<div class="d-flex flex-row justify-content-between" style="margin-bottom: 5%">
			<h1 class="fw-bold ">Додавання запитань до тесту</h1>
			<div class="input-group" style="height: 40px;  width: 300px; border-radius: 5px; border: 2px solid var(--main-light, #FFF);">
				<input type="file" name="fileInput" id="fileInput" class="form-control">
				<a class="main_button" style="width: 150px;" onclick="UploadFile()">
					<span>Обробити</span>
					<div class="spinner-border text-info ms-3" id="fileSpin" hidden style="height: 20px; width: 20px" role="status"></div>
				</a>
			</div>
		</div>


		<div class="items">
			@for (int i = 0; i < (Model == null ? 2 : Model.Count); i++)
			{
				<div id="Question[@i]" class="mb-4">

					<div class="d-flex flex-row justify-content-between">
						<h5 class="fw-bold mb-3">Питання @(i + 1)</h5>
						<a class="delete_icon" style="font-size: 20px; margin: 0 5px;" onclick="DeleteQuestion(@i)"><i class="bi bi-trash3-fill"></i></a>
					</div>
					<div class="form-group mb-3">
						<label>Введіть текст запитання:</label>
						<textarea asp-for="@Model[i].Text" class="form-control" style="background: transparent" rows="3"></textarea>
						<span asp-validation-for="@Model[i].Text" class="text-danger"></span>
					</div>
					<label class="mb-3">Введіть текст варіантів відповідей та позначте правильну(-і) з них ліворуч:</label>
					<div id="Question[@i]-Options" class="options-container">
						@for (int j = 0; j < (Model == null ? 2 : Model[i].Options.Count); j++)
						{
							<div class="d-flex flex-row mb-3 align-items-center" id="Question[@i]-Option[@j]">
								<input asp-for="@Model[i].Options[j].Right" class="form-check-input" type="checkbox">
								<section class="d-flex flex-column" style="width: 100%">
									<input asp-for="@Model[i].Options[j].Text" class="form-control" style="width: 100%; background: transparent" />
									<span asp-validation-for="@Model[i].Options[j].Text" class="text-danger"></span>
								</section>
								@if (j >= 2)
								{
									<a class="delete_icon" style="font-size: 20px; margin: 0 5px;" onclick="DeleteOption(@i, @j)"><i class="bi bi-trash3-fill"></i></a>
								}
							</div>
						}
					</div>
					<a class="add_icon" style="font-size: 20px;" onclick="CreateOption(@i)"><i class="bi bi-plus-square-fill"></i></a>
				</div>
			}
		</div>
		<a class="add_icon mt-3 mb-4" onclick="CreateQuestion()"><i class="bi bi-plus-square-fill"></i><span style="margin-left: 5px;">Додати питання</span></a>
		<div class="d-flex mt-4 flex-row justify-content-center">
			<a onclick="GetCatalogFilterView() " class="main_button main_button_light" style="width: 300px; margin-right: 10px; height: 40px"><span>Cкасувати</span></a>
			<a class="main_button" onclick="SaveQuestions()" style="width: 300px; margin-left: 10px; height: 40px">
				<span>Зберегти</span>
				<div class="spinner-border text-info ms-3" id="SaveQuestionSpin" hidden style="height: 20px; width: 20px" role="status"></div>
			</a>
		</div>
	</div>
</form>

@{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
	function SaveQuestions() {
		
		$("#SaveQuestionSpin").removeAttr("hidden");
		var Questions = [];

		var $form = $("#questionForm");
		$form.removeData('validator');
		$form.removeData('unobtrusiveValidation');
		$.validator.unobtrusive.parse('form');
		if ($form.valid()) {
			$(".items > div").each(function (index) {
				var question = {
					Text: $(this).find("textarea").val(),
					Test_ID: Test_ID,
					Options: []
				};

				$(this).find(".d-flex.flex-row.mb-3.align-items-center").each(function () {
					var option = {
						Right: $(this).find("input[type=checkbox]").prop("checked"),
						Text: $(this).find("input[type=text]").val()
					};

					question.Options.push(option);
				});

				Questions.push(question);
			});

			$.ajax({
				url: "@Url.Action("QuestionCreate", "Test")",
				type: "POST",
				data: {
					model: Questions,
				},
				success: function (data) {
					$("#SaveQuestionSpin").attr("hidden", "hidden");
					GetCatalogFilterView();
					SuccesToastShow(data);
				},
				error: function (xhr) {
					$("#SaveQuestionSpin").attr("hidden", "hidden");
				}
			});
		}
		else {
			$("#SaveQuestionSpin").attr("hidden", "hidden");
		}



	}
</script>

<script>
	var i = @(Model == null ? 2 : Model.Count);
	var Test_ID = '@ViewBag.Test_ID'; //add id to model

	function UploadFile() {
		var formData = new FormData();
		var fileInput = $("#fileInput")[0].files[0]; // Получить выбранный файл
		formData.append("fileInput", fileInput);

		if (!fileInput) {

			ErrorToastShow("Оберіть файл");


		} else {
			formData.append("Test_ID", Test_ID); // Добавить Test_ID к formData
			$("#fileSpin").removeAttr("hidden");
			$.ajax({
				url: "@Url.Action("UploadFile", "Test")",
				type: "POST",
				data: formData, // Отправить formData, который уже содержит Test_ID
				processData: false, // Отключите автоматическую обработку данных
				contentType: false, // Отключите автоматическую установку Content-Type
				success: function (data) {
					$("#fileSpin").attr("hidden", "hidden");
					$(".test_content").html(data);

				},
				error: function (xhr) {
					$("#fileSpin").attr("hidden", "hidden");
					ErrorToastShow(xhr.responseText);
				}
			});
		}
	}



	function CreateQuestion() {
		var newRow = `<div id="Question[${i}]" class="mb-4">
													<div class="d-flex flex-row justify-content-between">
															<h5 class="fw-bold mb-3">Питання ${i + 1}</h5>
														<a class="delete_icon" style="font-size: 20px; margin: 0 5px;" onclick="DeleteQuestion(${i})"><i class="bi bi-trash3-fill"></i></a>
													</div>
													<div class="form-group mb-3">
														<label>Введіть текст запитання:</label>
																	<textarea class="form-control" style="background: transparent" rows="3" data-val="true" data-val-required="Введіть текст запитання." id="z${i}__Text" name="[${i}].Text"></textarea>
															<span class="text-danger field-validation-valid" data-valmsg-for="[${i}].Text" data-valmsg-replace="true"></span>
													</div>
													<label class="mb-3">Введіть текст варіантів відповідей та позначте правильну(-і) з них ліворуч:</label>
															<div id="Question[${i}]-Options"  class="options-container">

													</div>
														<a class="add_icon" style="font-size: 20px;" onclick="CreateOption(${i})"><i class="bi bi-plus-square-fill"></i></a>
												</div>`;

		document.querySelector('.items').insertAdjacentHTML('beforeend', newRow);
		CreateOption(i);
		CreateOption(i);
		i++;
		CheckNumber();

	}

	function CreateOption(index) {
		var container = document.getElementById(`Question[${index}]-Options`);
		var optionsCount;

		if (container) {
			var nestedDivs = container.querySelectorAll('div');
			optionsCount = nestedDivs.length;
			if (optionsCount < 2) {
				var newOption = `
																								<div class="d-flex flex-row mb-3 align-items-center" id="Question[${index}]-Option[${optionsCount}]">
																						<input class="form-check-input" type="checkbox" data-val="true" data-val-required="The Right field is required." id="z${index}__Options_${optionsCount}__Right" name="[${index}].Options[${optionsCount}].Right" value="true">
																							<section class="d-flex flex-column" style="width: 100%">
																							<input class="form-control" style="width: 100%; background: transparent" type="text" data-val="true" data-val-required="Введіть текст варіанту відповіді." id="z${index}__Options_${optionsCount}__Text" name="[${index}].Options[${optionsCount}].Text" value="">
																				<span class="text-danger field-validation-valid" data-valmsg-for="[${index}].Options[${optionsCount}].Text" data-valmsg-replace="true"></span>
																						</section>

																	</div>
																						`;
			}
			else {
				var newOption = `
																								<div class="d-flex flex-row mb-3 align-items-center" id="Question[${index}]-Option[${optionsCount}]">
																						<input class="form-check-input" type="checkbox" data-val="true" data-val-required="The Right field is required." id="z${index}__Options_${optionsCount}__Right" name="[${index}].Options[${optionsCount}].Right" value="true">
																							<section class="d-flex flex-column" style="width: 100%">
																							<input class="form-control" style="width: 100%; background: transparent" type="text" data-val="true" data-val-required="Введіть текст варіанту відповіді." id="z${index}__Options_${optionsCount}__Text" name="[${index}].Options[${optionsCount}].Text" value="">
																				<span class="text-danger field-validation-valid" data-valmsg-for="[${index}].Options[${optionsCount}].Text" data-valmsg-replace="true"></span>
																						</section>
																					<a class="delete_icon" style="font-size: 20px; margin: 0 5px;" onclick="DeleteOption(${index}, ${optionsCount})"><i class="bi bi-trash3-fill"></i></a>
																	</div>
																						`;
			}

			container.insertAdjacentHTML('beforeend', newOption);

		}


	}


	function DeleteQuestion(index) {
		var elementId = `Question[${index}]`;

		var elementToRemove = document.getElementById(elementId);
		if (elementToRemove) {
			elementToRemove.remove();
			CheckNumber();
		}
	}

	function CheckNumber() {
		var questions = document.querySelectorAll('.items > div');
		for (var i = 0; i < questions.length; i++) {
			var questionHeader = questions[i].querySelector('h5');
			questionHeader.textContent = `Питання ${i + 1}`;
		}

	}

	function DeleteOption(Iindex, Jindex) {
		var elementId = `Question[${Iindex}]-Option[${Jindex}]`;

		var elementToRemove = document.getElementById(elementId);
		if (elementToRemove) {
			elementToRemove.remove();
		}
	}

</script>